<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="parkingadvisor" src="{{ "/assets/img/parkingadvisor.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Parking Advisor </h3>
    <ul>
      <li> Python, Django</li>
      <li> JQuery, HTML, CSS, Bootstrap</li>
    </ul>
    <p> A interactive webpage-based tool for users to find parking spots in Seattle. </p>
    <a class="project-link" href="https://github.com/deepforce/parkingadvisor">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="diversitypolicy" src="{{ "/assets/img/diversitypolicy.svg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Diversity Policy </h3>
    <ul>
      <li> Django</li>
      <li> Postgre SQL</li>
    </ul>
    <p> Diversity Policy is a database of policy documents and information from colleges and universities in the United States.</p>
    <a class="project-link" href="https://diversitypolicy.com/#about">Check it out</a>
  </div>
</div>
